<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-KVS4HYPPD1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-KVS4HYPPD1");
    </script>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://raw.githubusercontent.com/decentldotland/molecule-web/main/favicon.ico"
    />
    <title>
      molecule.sh | composable building blocks for MEM smart contracts
    </title>
    <meta property="og:title" content="molecule.sh" />
    <meta
      property="og:description"
      content="composable building blocks for EXM smart contracts"
    />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/decentldotland/molecule/main/img/molecule.svg"
    />
    <meta property="og:url" content="https://molecule.sh" />
    <style>
      body {
        margin-top: 3em;
      }

      .subtitle {
        text-align: center;
        padding: 1em;
      }

      .header {
        text-align: center;
        max-width: 100%;
      }

      .header-img {
      }

      .structure {
        margin: auto;
        width: 50%;
        margin-bottom: 5em;
      }

      .hero {
        font-family: serif;
        font-size: 7em;
        line-height: 0.7em;
        margin-left: 1em;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <img
        class="header-img"
        src="https://raw.githubusercontent.com/decentldotland/molecule/main/img/molecule.svg"
      />
    </div>
    <h3 class="subtitle">composable building blocks for MEM smart contracts</h3>
    <h3 class="subtitle">
      <a href="https://github.com/decentldotland/molecule/tree/main/examples"
        >EXAMPLES</a
      >
      &nbsp; &nbsp; // &nbsp; &nbsp;
      <a href="https://github.com/decentldotland/molecule">GITHUB</a>
    </h3>
    <br /><br />
    <hr />
    <div class="structure">
      <h3 class="subtitle">tree</h3>
      <pre>
molecules/
├── ar/
│   └── tx-gql ~> atom
└── evm/
├── └── signer
└── sol/ ~> molecule
├── └── auth
└── zil/
├── └── zil-auth
├── stx/
│   └── stx-auth
└── substrate/
├── └── substrate-auth
└── trx/
├── └── trx-auth
└── icp/
├── └── icp-auth
└── ton/
├── └── ton-auth/
└── massa/
├── └── massa-auth
└── fuel/
├── └── fuel-auth
└── tez/
├── └── tez-auth
└── aptos/
└── └── aptos-auth/
└── nostr/
    └── nostr-auth
└── exm/
└── └── exm-bundlr
└── near/
└── └── n-view-state/
└── ever/
├── └── tx
└── redstone/
└── └── price
└── ark/
├── ├── resolve
├── └── state
│   └── soark/domain
└── ai/
└── └── chatgpt
└── └── gpt3</pre
      >
      <h3 class="subtitle">abstract</h3>
      <p>
        molecule.sh is a developer tooling library and API for MEM alchemists.
        Built on top of the `deterministicFetch` MEM feature, molecule.sh is
        composed of reusable components to facilitate writing MEM functions.
      </p>
      <p>
        Like OpenZeppelin on Ethereum, molecule.sh aims to prevent MEM
        developers from reinventing the wheel by packaging common operations as
        importable functions.
      </p>
      <p>
        molecule.sh is exposed to MEM functions via npm:
        <code>npm i -g mem-cli-js</code>
      </p>

      <h3 class="subtitle">releases</h3>
      <p>
        <a href="https://github.com/decentldotland/molecule/releases/tag/v0.2.6"
          >v0.2.6</a
        >
      </p>
    </div>
  </body>
</html>
